<div class="container view-model-page">
  <h1>Create Model</h1>
<form ng-submit="createModel()" name="form">
    <!--<div ng-show="error || form.username.$error">
      <p ng-show="error" class="text-danger">{{ error }}</p>
      <p ng-show="form.username.$error.taken" class="text-danger">Username is already taken.</p>
      <p ng-show="form.username.$error.invalid" class="text-danger">Username contains invalid characters.</p>
    </div>-->
    <input type="text" ng-model="model.name" placeholder="Model Name" class="form-control"><br>
    <input type="text" ng-model="model.description" placeholder="Model Description" class="form-control"><br>

    <input type="submit" value="Create" class="btn btn-primary" />
  </form>
</div>